{% extends 'base.html.twig' %}


{% block title %}
	Hello!
{% endblock %}

{% block body %}

	{# <link rel="stylesheet" href="{{ asset('styles.css')}}"> #}

	<!-- NAVBAR -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <div class="container-fluid">
			<a class="navbar-brand ms-3" href="#">The Event</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>


	{# HERO #}
	{% include 'components/hero.html.twig' %}

	{# SYSTEM MESSAGE DISPLAY #}
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	{# MIDPAGE HEADLINE #}
	<div class="alpha d-flex align-items-center justify-content-center mt-5 mb-3">
		<p>Upcoming events:</p>
	</div>

	<div id="container" class="row justify-content-center p-5 g-4 mt-0 pt-0">

		{% for event in events %}

			{# CARD #}
			<div class='card text-center me-3' style='width: 19rem;'>
				<img class='card-img-top mt-3' src="{{asset('pictures/' ~ event.picture )}}" style=' height: 22vh;'>
				<div class='card-body' style='height: 12vh;'>
					<h5 class='card-title' style='font-weight: bold;'>{{event.eventName}}</h5>
				</div>
				<ul class='list-group list-group-flush'>
					<li class='list-group-item'>
						<strong>Location:</strong>
						{{event.address}}</li>
					<li class='list-group-item'>
						<strong>Date:</strong>
						{{event.eventDate|date()}}</li>

				</ul>
				<div class='card-body'>
					<a href='/details/{{event.id}}' class='btn btn-primary w-50 mb-1'>Details</a><br/>
					<a href='/edit/{{event.id}}' class='btn btn-success w-50 mb-1'>Update</a><br/>
					<a href='/delete/{{event.id}}' class='btn btn-danger w-50 mb-1'>Delete</a>
				</div>
			</div>

		{% endfor %}

	</div>
	{# BUTTON ADD #}
	<div class='buttons mb-5 d-flex justify-content-center me-3'>
		<a href='/create'>
			<button class='btn btn-primary btn-lg' type="button">
				Add Event
			</button>
		</a>
	</div>

	{% include 'components/footer.html.twig' %}
{% endblock %}
