{% extends 'base.html.twig' %}

{% block title %}
	Hello!
{% endblock %}

{% block body %}


	{# HERO #}
	{% include 'components/hero.html.twig' %}

	{# MIDPAGE HEADLINE #}
	<div class="alpha d-flex align-items-center justify-content-center mt-5 mb-3">
		<p>Upcoming theatre plays:</p>
	</div>

	<div id="container" class="row justify-content-center p-5 g-4 mt-0 pt-0">

		{% for event in events %}

			{# CARD #}
			<div class='card text-center me-3' style='width: 19rem;'>
				<img class='card-img-top mt-3' src="{{asset('pictures/' ~ event.picture )}}" style=' height: 22vh;'>
				<div class='card-body' style='height: 12vh;'>
					<h5 class='card-title' style='font-weight: bold;'>{{event.eventName}}</h5>
				</div>
				<ul class='list-group list-group-flush'>
					<li class='list-group-item'>
						<strong>Location:</strong>
						{{event.address}}</li>
					<li class='list-group-item'>
						<strong>Date:</strong>
						{{event.eventDate|date()}}</li>
				</ul>
				<div class='card-body'>
					<a href='/details/{{event.id}}' class='btn btn-primary w-50 mb-1'>Details</a><br/>
					<a href='/edit/{{event.id}}' class='btn btn-success w-50 mb-1'>Update</a><br/>
					<a href='/delete/{{event.id}}' class='btn btn-danger w-50 mb-1'>Delete</a>
				</div>
			</div>

		{% endfor %}

	</div>
	{# BUTTON BACK #}
	<div class='buttons mb-5 d-flex justify-content-center me-3'>
		<a href='/'>
			<button class='btn btn-primary btn-lg' type="button">
				Back
			</button>
		</a>
	</div>
	{% include 'components/footer.html.twig' %}
{% endblock %}
